*
 {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: xx-large;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}
a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255,0.4);
    background: #262c37;
    letter-spacing: 4px;
    transition: 0.5s;
}
a:hover {
    color: rgba(255, 255, 255,1);
}
a span {
    display: block;
    position: absolute;
    background: #2894ff;
}

a span:nth-child(1)
{
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
a:hover span:nth-child(1)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;  
}

a span:nth-child(2)
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
a:hover span:nth-child(2)
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;  
}

a span:nth-child(3)
{
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
a:hover span:nth-child(3)
{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s; 
    transition-delay: 0.5s;  
}
a span:nth-child(4)
{
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s; 
}
a:hover span:nth-child(4)
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s; 
    transition-delay: 0.5s; 
}
footer {
    position: absolute;
    bottom: 2px;
    left: 2px;
    
}
.atag {
    font-size: 15px;
    background: none;
    position: relative;
    top: -10%;
    left: -13%;
    letter-spacing: normal;
}
p {
    font-size: 75%;
    color: white;
}
.date {
    font-size: 65%;
    color: white;
}