*{
    margin: 0;
    padding: 0;
    font-family: consoles;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background: #19011d;
}
a{
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    background: #35003d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    transition: 0.5s;
    overflow: hidden;
}
a:hover{
    background: #a41ee9;
}
a:nth-child(2):hover{
    background: #ff3c7f;
}
a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
a:hover::before{
    left: 100%;
}