* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #362222;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-items: center;
}
h1 {
  color: #ffffff;
  font-family: sans-serif;
  position: absolute;
  top: 0;

  text-align: center;
}
.loader {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.loader span {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  animation: animate 2s linear infinite;
  -webkit-animation: animate 2s linear infinite;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 1;
}
.loader span:nth-child(1) {
  animation-delay: 0.2s;
}
.loader span:nth-child(2) {
  animation-delay: 0.4s;
}
.loader span:nth-child(3) {
  animation-delay: 0.6s;
}
.loader span:nth-child(4) {
  animation-delay: 0.8s;
}
.loader span:nth-child(5) {
  animation-delay: 1s;
}
@keyframes animate {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate(0px);
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
  }
  100% {
    opacity: 0;
  }
}
.loader_2 {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  position: relative;
}
.loader_2 span {
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  animation: display 1s infinite;
  -webkit-animation: display 3s infinite;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.loader_2 span:nth-child(1) {
  top: 0px;
  right: 44%;
  animation-delay: 0.2s;
}
.loader_2 span:nth-child(2) {
  top: 3%;
  right: 27%;
  animation-delay: 0.4s;
}
.loader_2 span:nth-child(3) {
  top: 24px;
  right: 25px;
  animation-delay: 0.6s;
}
.loader_2 span:nth-child(4) {
  top: 53px;
  right: 7px;
  animation-delay: 0.8s;
}
.loader_2 span:nth-child(5) {
  top: 88px;
  right: 0;
  animation-delay: 1s;
}
.loader_2 span:nth-child(6) {
  top: 122px;
  right: 10px;
  animation-delay: 1.2s;
}
.loader_2 span:nth-child(7) {
  top: 151px;
  right: 33px;
  animation-delay: 1.4s;
}
.loader_2 span:nth-child(8) {
  top: 167px;
  right: 65px;
  animation-delay: 1.6s;
}
.loader_2 span:nth-child(9) {
  left: 68px;
  bottom: 2px;
  animation-delay: 1.8s;
}
.loader_2 span:nth-child(10) {
  left: 35px;
  bottom: 16px;
  animation-delay: 2s;
}
.loader_2 span:nth-child(11) {
  left: 13px;
  bottom: 43px;
  animation-delay: 2.2s;
}
.loader_2 span:nth-child(12) {
  left: 0px;
  bottom: 76px;
  animation-delay: 2.4s;
}
.loader_2 span:nth-child(13) {
  left: 5px;
  bottom: 112px;
  animation-delay: 2.6s;
}
.loader_2 span:nth-child(14) {
  left: 23px;
  bottom: 142px;
  animation-delay: 2.8s;
}
.loader_2 span:nth-child(15) {
  left: 50px;
  bottom: 162px;
  animation-delay: 3s;
}
@keyframes display {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  20% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}
footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}
