@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
}
.background {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* opacity: 0.75; */
}
.max-width {
  /* width: 50vw; */
  margin: auto;
}



.navbar {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-shadow: 2px 20px 10px rgb(80, 73, 58), 20px 2px 20px rgb(0, 0, 0);
}
.navbar img {
  width: 100px;
  height: 100px;
}
.instructions {
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.glass {
  width: 80vw;
  margin: auto;
  min-height: 70vh;
  /* border-radius: 30px; */
  margin-top: 50px;
  padding: 50px;
  background-color: rgba(204, 193, 193, 0.171);
  box-shadow: 1px 1px 10px black, 1px 1px 20px black, 1px 1px 30px black,
    1px 1px 40px black;
}

.container {
  margin: 20px 0px;

  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
}
.drum {
  margin: 0px 10px;
  /* background-color: rgb(255, 255, 255); */
}
.drum {
  text-align: center;
  font-size: 30px;
  /* color: rgb(255, 166, 0); */
  font-weight: bolder;
  text-shadow: 2px 2px 10px black;
  font-family: "Changa", sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.drum span {
  transition: 3s;
  animation-name: colorchange;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.drum img {
  /* margin: 5px 0px; */
  width: 6rem;
  border-radius: 0px;
  transition: 1s;
  background-color: white;
}
.drum-notplay {
  width: 6rem;
  opacity: 0.35;
}
.drum-play {
  width: 7rem;
  opacity: 1;
  box-shadow: 1px 1px 10px black, 1px 1px 20px black, 1px 1px 30px black,
    1px 1px 40px black;
}
footer {
  text-align: center;
  color: white;
  padding: 10px;
}
footer span {
  color: red;
  font-size: 20px;
}
hr {
  background-color: orange;
  height: 1px;
}
a {
  color: rgb(214, 148, 24);
  text-decoration: none;
  /* font-size: 30px; */
  transition: 3s;
  animation-name: colorchange;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
a:hover {
  color: orange;
}
i {
  position: absolute;
  margin: 10px;

  font-size: 30px;
  /* right: 20px; */
  transition: 3s;
  animation-name: colorchange;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.bottominstructions {
  display: none;

}
@keyframes colorchange {
  0% {
    color: rgb(255, 0, 76);
  }
  25% {
    color: rgb(99, 196, 235);
  }
  50% {
    color: rgb(108, 255, 152);
  }
  75% {
    color: rgb(255, 238, 0);
  }
  100% {
    color: rgb(255, 0, 76);
  }
}
.btn {
  margin: 20px;
  display: none;
}
@media (max-width: 500px) {
  .instructions {
    /* position: absolute; */
    /* bottom: 0; */
    /* font-size: 10px; */
    display: none;
  }
  .bottominstructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .glass {
    margin-top: 0px;
    max-width: 60vw;
  }
 
}
.items{
  margin: 20px;

}
.instruct{
  /* margin-top: 20px; */
}
.list div{
  font-size: 30px;
  /* padding: 10px; */
}