* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2c2e43;
  font-family: sans-serif;
  color: white;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 5px;
}
h1 {
  font-size: 50px;
}
.btn {
  width: 300px;
  height: 40px;
  background-color: #b2b1b9;
  font-size: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: 0px 0px 5px black;
  border: 2px solid white;
}
.btn:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.747);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 30%;
  right: 25%;
  width: 50%;
  height: 20rem;
  background-color: #787a91;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px black;
  z-index: 100;
}
.btn__ok {
  width: 200px;
  height: 3rem;
  font-size: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.btn__close {
  font-size: 20px;
  width: 200px;
  height: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.display {
  display: none;
}
.body__active__modal {
  height: 100vh;
  overflow: hidden;
}
footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}
