* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #1a1a1b;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 30vw;
  color: white;
  position: absolute;
  -webkit-box-reflect: below -23vh linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.123));
}
@media (max-width: 1000px) {
  h2 {
    -webkit-box-reflect: below -12vh linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.123));
  }
}
@media (max-width: 800px) {
  h2 {
    -webkit-box-reflect: below -8vh linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.123));
  }
}
@media (max-width: 500px) {
  h2 {
    -webkit-box-reflect: below -6vh linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.123));
  }
}
h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #3282b8;
}
h2:nth-child(2) {
  transition: 0.3s;
  color: #3282b8;
  clip-path: circle(65.6% at 39% 95%);
  animation: animate 2s ease-in-out infinite;
  -webkit-animation: animate 2s ease-in-out infinite;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
h2:nth-child(3) {
  transition: 0.3s;
  color: #3282b836;
  clip-path: circle(65.6% at 39% 95%);
  animation: animate 2s ease-in-out infinite;
  -webkit-animation: animate 2s ease-in-out infinite;
  animation-delay: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
h2:nth-child(4) {
  transition: 0.3s;
  color: #9e9e9e15;
  clip-path: circle(65.6% at 39% 95%);
  animation: animate 2s ease-in-out infinite;
  -webkit-animation: animate 2s ease-in-out infinite;
  animation-delay: 0.6s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
h2:nth-child(5) {
  transition: 0.3s;
  color: #4389ca15;
  clip-path: circle(65.6% at 39% 95%);
  animation: animate 2s ease-in-out infinite;
  -webkit-animation: animate 2s ease-in-out infinite;
  animation-delay: 1.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: -2;
}
h2:nth-child(6) {
  transition: 0.3s;
  color: #6f98be17;
  clip-path: circle(65.6% at 39% 95%);
  animation: animate 2s ease-in-out infinite;
  -webkit-animation: animate 2s ease-in-out infinite;
  animation-delay: 0.8s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: -1;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 31%,
      0% 100%,
      100% 100%,
      100% 66%,
      87% 58%,
      73% 54%,
      62% 57%,
      48% 58%,
      34% 53%,
      22% 45%,
      15% 38%
    );
  }
  25% {
    clip-path: polygon(
      0 29%,
      0% 100%,
      100% 100%,
      100% 46%,
      81% 41%,
      68% 41%,
      54% 45%,
      45% 45%,
      34% 41%,
      24% 36%,
      11% 31%
    );
  }
  75% {
    clip-path: polygon(
      0 49%,
      0% 100%,
      100% 100%,
      100% 22%,
      81% 29%,
      66% 36%,
      51% 45%,
      42% 49%,
      36% 48%,
      22% 45%,
      14% 45%
    );
  }
}
