@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #293b5f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.377);
  width: 100px;
  height: 100px;
  position: relative;
}
.line {
  width: 60px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.line-animate {
  position: absolute;
}
.line-animate:nth-child(1) {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}
.line-animate:nth-child(2) {
  display: none;
}
.line-animate:nth-child(3) {
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
}
