@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trispace", sans-serif;
  font-size: 5vw;
  color: #DBDBEB;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #080957;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #7577CD ;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.line {
  
  width: 60px;
  height: 5px;
  background-color: #FF6D01;
  margin: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.line-animate {
  position: absolute;
}
.line-animate:nth-child(1) {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}
.line-animate:nth-child(2) {
  display: none;
}
.line-animate:nth-child(3) {
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
}
footer {
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}
