@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

h1{
  font-size: 50px;
  font-family: 'Graduate', cursive;
}

h2{
  font-size: 35px;
}
.toggler {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  height: 5rem;
  background-color: rgb(219, 219, 219);
  box-shadow: inset 0px 0px 6px black;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn {
  position: absolute;
  left: 2px;
  background-color: #fff;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 10rem;
  box-shadow: 0px 0px 3px black;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.dark-mode {
  background-color: rgb(19, 19, 19);
  color: white;
}
.toggler-dark-mode {
  box-shadow: inset 0px 0px 6px rgb(214, 214, 214);

  background-color: rgb(75, 75, 75);
}
.btn-dark-mode {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.63);
  transform: translateX(10rem);
  background-color: black;
  -webkit-transform: translateX(10rem);
  -moz-transform: translateX(10rem);
  -ms-transform: translateX(10rem);
  -o-transform: translateX(10rem);
}
footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}
