* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  overflow: hidden;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  transform: 0.5s;
  transition-delay: 0.5s;
}

ul li a:hover {
  color: rgba(255, 255, 255, 0.1);
  transition-delay: 0s;
}

ul li a:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.35em;
  color: #3bffe8;
  text-shadow: 0 0 10px #3bffe8, 0 0 10px #3bffe8, 0 0 10px #3bffe8;
  font-weight: 500;
  letter-spacing: 40px;
  white-space: nowrap;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

ul li a:hover::before {
  opacity: 1;
  letter-spacing: 6px;
  transition-delay: 0.5s;
}

footer{
  position: absolute;
  bottom: 10px;
  color: white;
  left: 10px;
}