* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(118, 75, 134);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
  -webkit-animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
    -webkit-transform: perspective(1000px) rotateY(360deg);
    -moz-transform: perspective(1000px) rotateY(360deg);
    -ms-transform: perspective(1000px) rotateY(360deg);
    -o-transform: perspective(1000px) rotateY(360deg);
  }
}
.box span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.123));
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -moz-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -ms-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -o-transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
/* .box span; */
footer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}
